@font-face {
    font-family: Avenir-Heavy;
    src: url(./font/Avenir-Heavy.ttf);
}

@font-face {
    font-family: "TungstenMedium";
    src: url(./font/Tungsten-Medium.ttf);
}

  
.Page {
    background-color: rgb(15,15,15);
    transition: background-color 1s;
    padding: 200px 0 40px;
}

.title {
    text-align: center;
    color: white;
    font-family: TungstenMedium;
    font-size: 70px;
}

.caption {
    color: grey;
    font-size: 30px;
}

h2 {
    color: white;
}

.division {
    font-family: TungstenMedium;
    font-size: 35px;
    padding-bottom: 125px;
}


.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    flex: 0 25%;
    background-color: rgb(32, 32, 32);
    transition: background-color 1s;
    padding: 20px;
    margin: 10px;
    width: 25%;
    border-radius: 5px;
    position: relative;
    z-index: 4;
    overflow: hidden;
}

.Logo {
    transform: scale(0.65);
    width: 100%;
    z-index: 5;
    opacity: 1;
}

.player {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

}

.player:hover {
    opacity: 0.5;
    animation: playerAnim 1.2s;
}


@keyframes playerAnim {
    from {
        transform: scale(2);
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 767px) {
    .row {
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-items: center;
    }

    .box {
        flex: 0 30%;
    }
}